name: CI

on:
  push:
    branches: [ main, next ]
  pull_request:
    branches: [ main, next ]

jobs:
  lint:
    name: Lint Code
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - run: make lint

  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - os: macOS
            runner: macos-latest
          - os: Linux
            runner: ubuntu-latest
            container: swift:5.10
    container: ${{ matrix.container }}
    steps:
      - name: Install Dependencies
        if: matrix.container
        run: apt-get update && apt-get install -y make

      - uses: actions/checkout@v5
      - run: make build
      - run: make test
