name: CI

on:
  push:
    branches: [ main, next ]
  pull_request:
    branches: [ main, next ]

jobs:
  test-macos:
    name: Test on macOS
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Lint
        run: make lint

      - name: Build
        run: make build
      
      - name: Run Tests
        run: make test

  test-linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    container:
      image: swift:5.10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Lint
        run: make lint

      - name: Build
        run: make build

      - name: Run Tests
        run: make test
